section.choose 
    .container 
        h2.section-title Почему стоит выбрать именно нас?
        .choose-grid 
            .choose-box 
                .choose-icon
                    i.far
                p.choose-text Таможенное оформление груза
            .choose-box 
                .choose-icon 
                    i.far 
                p.choose-text Таможенное оформление груза
            .choose-box 
                .choose-icon 
                    i.far 
                p.choose-text Таможенное оформление груза
            .choose-box 
                .choose-icon 
                    i.far 
                p.choose-text Таможенное оформление груза
            .choose-box 
                .choose-icon 
                    i.far 
                p.choose-text Таможенное оформление груза
            .choose-box 
                .choose-icon 
                    i.far 
                p.choose-text Таможенное оформление груза
            .choose-box 
                .choose-icon 
                    i.far 
                p.choose-text Таможенное оформление груза
            .choose-box 
                .choose-icon 
                    i.far 
                p.choose-text Таможенное оформление груза